In [3]:
print('Please enter five number sperate by space:')
x1 = str(input())
x2=x1.split(' ')
x3 = [eval(i) for i in x2]
x4=sorted(x3)
print(x4)
del x4[4]
del x4[0]
print('sum:',sum(x4))
print('count:',len(x4))
print('average:',sum(x4)/len(x4))

Please enter five number sperate by space:
40 20 54 99 33
[20, 33, 40, 54, 99]
sum: 127
count: 3
average: 42.333333333333336

In [15]:
print('Please enter your first number:')
x1=int(input())
print('Please enter your operation:')
x2=str(input())
print('Please enter your second number:')
x3=int(input())
if x2=='+':print('Calculate result is:',x1+x3)
elif x2=='-':print('Calculate result is:',x1-x3)
elif x2=='*':print('Calculate result is:',x1*x3)
elif x2=='/':print('Calculate result is:',x1/x3)
else:print("sorry, this app don't support your operation:",x2)

Please enter your first number:
2
Please enter your operation:
*
Please enter your second number:
5
Calculate result is: 10

In [23]:
print('Please enter year number:')
x1=int(input())
if (x1%4==0 and x1<=1582):print(x1,' is 閏年')
if (x1%4==0 and x1%400==0 and x1>1582):print(x1,' is 閏年')
else: print(x1,' is 平年')

Please enter year number:
2000
2000  is 閏年